.expanded{
    background: url(../assets/backgrounds/hero.jpg) no-repeat;
    background-size: 100% 100%;
    height: auto;
}
img{
        margin-top: 4%;
    margin-left: 4%;
}

.btn
{
    background-color: wheat;
}

 p{
    padding-top: 50%;
}

body{
    background-color: wheat;
}